@tailwind base;
@tailwind components;
@tailwind utilities;

.header-iframe-youtube {
    width: 102%;
    height: 120%;
    top: -10%;
    left: -1%;
    position: absolute;
    pointer-events: none;
}

.font-sans {
    font-family:
        Times New Roman,
        Times,
        serif;
}

.font-arial {
    font-family: Arial, Helvetica, sans-serif;
}

.offcanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    background-color: white;
    z-index: 50;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}
.offcanvas-open {
    transform: translateX(0);
}

.fab-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 50;
}
.fab-icon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
}
.fab-icon:hover {
    transform: scale(1.1);
}
.fab-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.fab-menu a {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.close-button {
    display: none;
    position: fixed;
    bottom: 66px;
    right: 70px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e53e3e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-size: 8px;
}

.cookie-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2d3748; /* gray-800 */
    color: #fff; /* white */
    padding: 15px;
    z-index: 50;
    transform: translateY(0);
    transition: transform 0.3s;
}

@layer components {
    .lazy {
        @apply opacity-0 transition-opacity duration-300 ease-in-out;
    }
}

@layer components {
    .lazy.loaded {
        @apply opacity-100;
    }
}

@layer components {
    .paragraph {
        @apply mb-10 mt-3;
    }
}

@layer components {
    .logo {
        @apply w-48 transition-all duration-200 ease-in-out large:w-40 wide:w-48;
    }
}

@layer components {
    .logo.shrink {
        @apply w-[144px] large:w-[100px] wide:w-[144px];
    }
}

@layer components {
    .book-now-nav {
        @apply font-arial mb-2 mt-2 inline-flex items-center px-3 py-1 text-center text-[10px] font-bold uppercase tracking-widest focus:outline-none md:me-2 md:mt-2 md:px-3 md:py-2 md:text-xs lg:me-2 large:me-2 large:px-4 large:py-2 wide:me-2 wide:px-6 wide:py-3;
    }
}

@layer components {
    .book-now-nav.btn-white {
        @apply font-arial bg-white text-black outline outline-1 hover:bg-[#a88444] hover:text-white hover:outline-[#a88444];
    }
}

@layer components {
    .book-now-nav.btn-black {
        @apply font-arial bg-[#a88444] text-white outline outline-1 hover:bg-white hover:text-black hover:outline-black;
    }
}

@layer components {
    .nav-border-b {
        @apply grid grid-cols-3 pb-2 pt-2 text-center;
    }
}

@layer components {
    .nav-border-b.border-white {
        @apply border-b border-transparent md:border-transparent large:border-white/50 wide:border-white/50;
    }
}

@layer components {
    .nav-border-b.border-black {
        @apply border-b border-transparent  md:border-transparent large:border-gray-400/50 wide:border-gray-400/50;
    }
}

@layer components {
    .item {
        @apply px-5 font-serif uppercase tracking-widest text-white large:px-3 large:tracking-widest wide:px-5 wide:tracking-widest;
    }
}

@layer components {
    .item.text-gray {
        @apply px-5 text-gray-800 large:px-3 wide:px-5;
    }
}

@layer components {
    body {
        @apply font-arial text-sm leading-6 tracking-wide text-gray-600 large:text-[11px] large:leading-5 large:tracking-wider wide:text-sm wide:leading-6 wide:tracking-wide;
    }
}

@layer components {
    .navbar {
        @apply fixed z-50 mx-auto h-auto w-full px-5 drop-shadow-lg transition-all duration-200 ease-in-out md:px-10 lg:px-10 large:px-10 wide:px-10;
    }
}

@layer components {
    .newsletter {
        @apply font-arial px-5 text-xs font-bold uppercase tracking-[.2em] hover:underline hover:underline-offset-4 large:text-[10px] wide:text-xs;
    }
}

@layer components {
    .nav-items {
        @apply flex items-center justify-center py-4 text-center transition-all ease-in-out;
    }
}

@layer components {
    .main-title {
        @apply font-sans text-lg font-medium uppercase tracking-widest md:text-xl large:text-2xl large:tracking-wider wide:text-3xl wide:tracking-widest;
    }
}

@layer components {
    .sub-title {
        @apply font-sans text-lg uppercase tracking-widest md:text-lg large:text-lg wide:text-3xl;
    }
}

@layer components {
    .sub-title2 {
        @apply mt-8 font-sans text-lg tracking-wide md:text-lg lg:text-xl large:text-lg wide:text-2xl;
    }
}

@layer components {
    .card-title {
        @apply mb-2 font-sans text-lg tracking-widest large:text-base wide:text-lg;
    }
}

@layer components {
    .card-footer {
        @apply font-arial flex h-12 items-center p-4 font-bold uppercase tracking-widest;
    }
}

@layer components {
    .page-description {
        @apply mx-auto mt-24 w-10/12 text-center md:mt-24 md:w-4/5 lg:mt-24 large:mt-24 large:w-1/2 wide:mt-24 wide:w-1/2;
    }
}

@layer components {
    .featured {
        @apply mx-auto w-11/12;
    }
}

@layer components {
    .insight-card-gray {
        @apply mt-24 bg-gray-200/50 py-20 large:mt-10 wide:mt-24;
    }
}

@layer components {
    .insight-card {
        @apply mt-24 py-20 large:mt-10 wide:mt-24;
    }
}

@layer components {
    .ic-section {
        @apply mx-auto flex w-4/5 overflow-hidden;
    }
}

@layer components {
    .ic-image {
        @apply h-[500px] w-[800px] object-cover large:h-[420px] large:w-[550px] wide:h-[500px] wide:w-[800px];
    }
}

@layer components {
    .ic-text {
        @apply mx-8 flex flex-col justify-between px-5 py-1 large:mx-8 wide:mx-16 wide:w-[200px];
    }
}

@layer components {
    .visual-insights {
        @apply mt-24 bg-gray-200/50 py-20 large:mt-10 wide:mt-24;
    }
}

@layer components {
    .vi-section {
        @apply mx-auto flex w-9/12 flex-col overflow-hidden md:w-11/12 md:flex-row lg:flex-row large:w-8/12 large:flex-row wide:w-8/12 wide:flex-row;
    }
}

@layer components {
    .vi-page {
        @apply mx-auto flex w-10/12 flex-col overflow-hidden md:flex md:w-10/12 md:flex-col lg:w-11/12 lg:flex-row large:flex large:w-8/12 wide:flex wide:w-8/12;
    }
}

@layer components {
    .vi-image {
        @apply h-auto w-full object-cover px-0 pb-8 md:h-[400px] md:w-[350px] md:px-0 md:pb-0 lg:w-[550px] lg:px-0 lg:pb-0 large:h-auto large:w-[550px] large:px-0 large:pb-0 wide:h-auto wide:w-[800px] wide:px-0 wide:pb-0;
    }
}

@layer components {
    .vi-image-page {
        @apply h-[400px] w-[800px] object-cover md:h-[400px] md:w-auto lg:h-auto lg:w-[550px] large:h-auto large:w-[550px] wide:h-auto wide:w-[800px];
    }
}

@layer components {
    .vi-text {
        @apply mx-0 flex flex-col justify-center border-y border-gray-600 p-0 px-3 py-8 text-center md:mx-3 md:p-5 md:py-5 lg:mx-8 lg:p-5 lg:py-0 large:mx-8 large:p-5 large:py-0 wide:mx-14 wide:p-5 wide:py-0;
    }
}

@layer components {
    .line {
        @apply mx-auto my-4 w-28 border-b border-gray-600;
    }
}

@layer components {
    .main-button {
        @apply font-arial mx-auto mt-10 px-4 py-2 text-[10px] font-bold uppercase tracking-[2px] outline outline-1 outline-gray-600 hover:bg-[#a88444] hover:text-white hover:outline-[#a88444] md:px-3 md:text-[8px] md:tracking-widest large:px-3 large:py-2 large:text-[10px] large:tracking-widest wide:px-4 wide:text-xs wide:tracking-widest;
    }
}

@layer components {
    .dual-perspectives {
        @apply mx-auto my-24 md:w-10/12 large:my-16 large:w-4/6 wide:my-24 wide:w-4/6;
    }
}

@layer components {
    .dp-section {
        @apply flex flex-col justify-center md:flex-row lg:flex-row large:flex-row wide:flex-row;
    }
}

@layer components {
    .dp-left {
        @apply mx-10 max-w-xl overflow-hidden md:mx-5 large:mx-5 large:max-w-xl wide:mx-10 wide:max-w-xl;
    }
}

@layer components {
    .dp-right {
        @apply mx-10 max-w-sm overflow-hidden md:mx-5 large:mx-5 large:max-w-xs wide:mx-10 wide:max-w-sm;
    }
}

@layer components {
    .dp-r-image {
        @apply h-[480px] w-full object-cover md:h-[300px] large:h-[350px] wide:h-[480px];
    }
}

@layer components {
    .dp-l-image {
        @apply hidden h-[770px] w-full object-cover md:block md:h-[550px] md:w-[600px] lg:block large:block  large:h-[600px] large:w-full wide:block wide:h-[770px] wide:w-full;
    }
}

@layer components {
    .visual-harmony {
        @apply relative mb-24 h-[530px] md:mb-0 md:h-[800px] lg:mb-0 large:mb-0 large:h-screen wide:mb-0 wide:h-screen;
    }
}

@layer components {
    .vh-background {
        @apply absolute inset-0 z-0 hidden bg-cover bg-center md:block lg:block large:block wide:block;
    }
}

@layer components {
    .vh-section {
        @apply absolute bottom-0 right-0 z-10 bg-white py-0 md:py-10 lg:py-10 large:py-10 wide:py-20;
    }
}

@layer components {
    .vh-inner-section {
        @apply flex flex-col-reverse items-center justify-center md:flex-row lg:flex-row large:flex-row wide:flex-row;
    }
}

@layer components {
    .vh-text {
        @apply w-96 px-16 text-center large:w-72 large:px-5 wide:w-96 wide:px-10;
    }
}

@layer components {
    .vh-image {
        @apply h-full w-[900px] object-cover px-10 pb-6 md:h-[500px] md:w-[400px] md:px-0 md:pb-0 lg:w-[500px] lg:px-0 lg:pb-0 large:h-auto large:w-[600px] large:px-0 large:pb-0 wide:h-auto wide:w-[900px] wide:px-0 wide:pb-0;
    }
}

@layer components {
    .overlay-impression {
        @apply relative mx-auto mt-80 flex h-[530px] w-11/12 flex-col-reverse md:mt-32 md:w-10/12 lg:relative lg:mt-32 large:mt-24 large:w-4/6 wide:mt-32 wide:w-4/6;
    }
}

@layer components {
    .overlay-impression-o {
        @apply relative mx-auto mt-52 flex h-[530px] w-11/12 flex-col-reverse md:mt-32 md:w-10/12 lg:relative lg:mt-32 large:mt-24 large:w-4/6 wide:mt-32 wide:w-4/6;
    }
}

@layer components {
    .oi-text {
        @apply relative top-0 h-[600px] w-auto bg-gray-200/50 py-16 ps-10 md:absolute md:h-[430px] md:w-2/3 md:py-6 md:ps-10 lg:absolute lg:w-2/3 lg:ps-10 large:absolute large:h-[430px]  large:w-2/3 large:py-10 large:ps-10 wide:absolute wide:h-[450px] wide:w-2/3 wide:py-16 wide:ps-10;
    }
}

@layer components {
    .oi-section {
        @apply w-auto pe-8 md:w-72 md:pe-8 lg:pe-8 large:w-64 large:pe-8 wide:w-96 wide:pe-8;
    }
}

@layer components {
    .oi-image-section {
        @apply relative right-0 top-0 z-10 h-[450px] w-full md:absolute md:top-16 md:w-2/4 lg:absolute lg:top-16 lg:w-[530px] large:absolute large:top-10 large:h-[430px] large:w-2/3 wide:absolute wide:top-16 wide:h-[450px] wide:w-2/3;
    }
}

@layer components {
    .oi-image {
        @apply h-full w-full object-cover;
    }
}

@layer components {
    .scenics-spotlight {
        @apply relative h-screen md:h-[600px] lg:h-[600px] large:h-screen wide:h-screen;
    }
}

@layer components {
    .ss-background {
        @apply absolute inset-0 h-full w-full object-cover;
    }
}

@layer components {
    .ss-section {
        @apply absolute inset-0 flex items-center;
    }
}

@layer components {
    .ss-text {
        @apply w-[600px] p-8 text-center text-white md:p-16 lg:p-16 large:w-[500px] large:p-16 wide:w-[600px] wide:p-16;
    }
}

@layer components {
    .footer {
        @apply bg-black text-white;
    }
}

@layer components {
    .footer-section {
        @apply mx-auto w-10/12 md:w-11/12 large:w-4/6 wide:w-4/6;
    }
}

@layer components {
    .footer-main {
        @apply grid grid-cols-2 gap-4 py-10 md:grid-cols-5 lg:grid-cols-5 large:grid-cols-5 wide:grid-cols-5;
    }
}

@layer components {
    .footer-logo {
        @apply w-full brightness-0 invert-[1];
    }
}

@layer components {
    .footer-title {
        @apply font-arial mb-2 mt-5 uppercase tracking-[0.2rem] md:mt-0 lg:mt-0 large:mt-0 wide:mt-0;
    }
}

@layer components {
    .footer-bottom {
        @apply flex flex-col justify-between border-t border-gray-600 py-5 text-center text-center md:flex-row lg:flex-row large:flex-row wide:flex-row;
    }
}

@layer components {
    .f-b-icon {
        @apply mx-auto flex md:ms-0 lg:ms-0 large:ms-0 wide:ms-0;
    }
}

@layer components {
    .f-b-copy {
        @apply my-5 md:my-0 lg:my-0 large:my-0 wide:my-0;
    }
}

@layer components {
    .navbar {
        @apply bg-black/30;
    }
}

@layer components {
    .nav-icon {
        @apply inline-flex items-center text-center;
    }
}

@layer components {
    .nav-left {
        @apply flex items-center;
    }
}

@layer components {
    .nav-middle {
        @apply flex items-center justify-center;
    }
}

@layer components {
    .nav-right {
        @apply flex items-center justify-end;
    }
}

@layer components {
    .secondary-button {
        @apply font-arial mt-3 px-10 py-3 text-center text-sm font-bold uppercase tracking-[2px] md:mt-3 lg:mt-10 lg:py-3 lg:text-[10px] large:mt-10 large:px-6 large:py-2 large:text-[10px] large:tracking-widest wide:mt-10 wide:px-10 wide:py-4 wide:text-xs wide:tracking-widest;
    }
}

@layer components {
    .secondary-button.transparent {
        @apply bg-transparent text-black outline outline-1 outline-black hover:bg-[#a88444] hover:text-white hover:outline-[#a88444];
    }
}

@layer components {
    .secondary-button.black {
        @apply bg-black text-white outline outline-1 outline-black hover:bg-[#a88444] hover:text-white hover:outline-[#a88444];
    }
}

@layer components {
    .h-mobile {
        @apply h-full;
        height: calc(100vh - 400px);
    }
}

@layer components {
    .offer {
        @apply mx-auto flex w-full flex-col overflow-hidden md:max-w-2xl md:flex-row lg:max-w-4xl lg:flex-row large:max-w-4xl large:flex-row wide:max-w-6xl wide:flex-row;
    }
}

@layer components {
    .o-left {
        @apply mb-10 w-11/12 pl-8 md:mb-0 md:w-2/4 md:pl-0 lg:mb-0 lg:pl-0 large:mb-0 large:w-2/3 large:pl-0 wide:mb-0 wide:w-2/3 wide:pl-0;
    }
}

@layer components {
    .o-l-image {
        @apply mx-auto h-[450px] w-full object-cover large:h-[350px] wide:h-[450px];
    }
}

@layer components {
    .o-right {
        @apply flex w-11/12 flex-col justify-between pl-10 pr-1 md:w-2/4 large:w-2/3 wide:w-2/3;
    }
}

@layer components {
    .head-slider {
        @apply h-mobile lg:h-mobile md:h-mobile h-screen large:h-screen wide:h-screen;
    }
}

@layer components {
    .h-slider {
        @apply h-mobile md:head-slider lg:head-slider large:head-slider wide:head-slider;
    }
}

@layer components {
    .villa {
        @apply mx-auto grid h-auto w-11/12 grid-cols-1 content-start items-center py-20 md:w-11/12 md:grid-cols-1 lg:grid-cols-2 large:w-8/12 large:grid-cols-2 wide:w-8/12 wide:grid-cols-2;
    }
}

@layer components {
    .restaurant {
        @apply mx-auto w-11/12 py-10 md:w-11/12 lg:w-8/12 large:w-8/12 wide:w-8/12;
    }
}

@layer components {
    .fusion-card {
        @apply mx-auto mb-10 w-10/12 border-b border-gray-200 pb-5 md:w-8/12 lg:w-8/12 large:w-8/12 wide:w-8/12;
    }
}

@layer components {
    .f-c-image {
        @apply mb-5 h-auto w-auto object-cover md:mb-0 md:h-32 md:w-32 lg:mb-0 lg:h-32 lg:w-32 large:mb-0 large:h-32 large:w-32 wide:mb-0 wide:h-32 wide:w-32;
    }
}
